@mixin w_100{ 
    width: 100%;
 }
@mixin h_100{ 
    height: 100%;
}
@mixin wh_100{
    @include w_100;
    @include h_100;
}

@mixin flex_r {
    display: flex;
    flex-direction: row;
}
@mixin flex_rs {
    display: flex;
    flex-direction: row-reverse;
}
@mixin flex_c {
    display: flex;
    flex-direction: column;
}
@mixin flex_cs {
    display: flex;
    flex-direction: column-reverse;
}
/* row剧中 */
@mixin flex_rj($span: center){
    @include flex_r;
    justify-content: $span;
}
@mixin flex_rc {
    @include flex_rj;
    align-items: center;
}
/* column剧中 */
@mixin flex_cj($span: center){
    @include flex_c;
    justify-content: $span;
}
@mixin flex_cc {
    @include flex_cj;
    align-items: center;
}
@mixin font {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/* 选择器:菜单栏下边框 */
@mixin afters($backs: #d7dde4){
    content: '';
    width: 100%;
    height: 3px;
    background: $backs;
    z-index: 1;
  }
  /* 文本超出省略号 */
@mixin ellipsis($min: 80px,$max: 120px){
    min-width: $min;
    max-width: $max;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

@mixin wh_x($size: 100%) {
    width: $size;
    height: $size;
}
@mixin test {
    @include wh_100();
    border: 1px solid red;
}
