$theme: #1aa97a !default;
$primary: $theme !default;
$warning: #e6a23c !default;
$error: #f56c6c !default;

$normal-bg: white;
$primary-bg: $primary;
$warning-bg: $warning;
$error-bg: $error;

$disableMix: black;
$disableMixWeight: 30%;

$hoverMix: white;
$hoverMixWeight: 10%;
@mixin button-disabled {
  cursor: not-allowed;
}

/* 定义的方法 */
@mixin border-back($border: $primary-bg, $back: $primary) {
  border-color: $border;
  background-color: $back;
}
@mixin back($hover: $hoverMix, $back: $primary-bg, $hoverMix: $hoverMixWeight) {
  background-color: mix($hover, $back, $hoverMix);
}
@mixin border-color-back($hover: $hoverMix, $back: $primary-bg, $hoverMix: $hoverMixWeight) {
  border-color: mix($hover, $back, $hoverMix);
  @include back($hover, $back, $hoverMix)
}
@mixin border-backs($hover: $hoverMix, $back: $error-bg, $hoverMix: $hoverMixWeight) {
  border: 1px solid mix($hover, $back, $hoverMix);
  @include back($hover, $back, $hoverMix);
}

.m-button {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 2px 15px;
  cursor: pointer;
  border: 1px solid;
  outline: none;/* 元素外边框样式 */
  color: $theme;
  white-space: nowrap;
  overflow: hidden;
  min-width: 20px;
  background-color: $normal-bg;
  height: 32px;
  /* disabled:禁止属性启用时的样式 */
  &:disabled {
    @include border-color-back($disableMix, $normal-bg, $disableMixWeight);
    @include button-disabled;
  }
  /* disabled:禁止属性关闭时的样式 */
  &:enabled:hover {
    background-color: mix($primary, $normal-bg, $hoverMixWeight);
  }

  &.small {
    height: 24px;
  }

  &.large {
    height: 40px;
  }

  @mixin text ($color: $primary, $hover: $theme) {
    color: $color;
    border: none;
    &:hover { color: $hover }
  }
  &.text-ok { @include text($primary, rgb(89, 0, 255)) }
  &.text-cancel { @include text(black, $theme) }
  &.text-error { @include text($error, red) }

  &.primary {
    color: white;
    @include border-back;

    &:disabled {
      @include border-color-back($disableMix, $primary-bg, $disableMixWeight);
      @include button-disabled;
    }

    &:enabled:hover {
      @include back;
    }
  }

  &.warning {
    border: 1px solid $warning;
    color: $warning;

    &:disabled {
      @include border-color-back($disableMix, $warning-bg, $disableMixWeight);
      @include button-disabled;
    }

    &:enabled:hover {
      @include border-color-back($disableMix, $warning-bg, $disableMixWeight);
      color: white;
    }
  }

  &.error {
    border: 1px solid $error-bg;
    color: $error;

    &:disabled {
      @include border-color-back($disableMix, $error-bg, $disableMixWeight);
      @include button-disabled;
    }

    &:enabled:hover {
      @include border-backs;
      color: white;
    }
  }
}
