/* 113f67 38598b a2a8d3 e7eaf6 :https://colorhunt.co/ */
// $color: #f6f5f5;
// $bcak1: #113f67;
// $bcak2: #38598b;
// $bcak3: #a2a8d3;
// $bcak4: #e7eaf6;
// $border: 1px solid white;
$color: #f6f5f5;
$bcak1: white;
$bcak2: #e7eaf6;
$bcak3: #f3f9fb;
$bcak4: #a2a8d3;
$border: 1px solid #dddddd;